.color-match-wrapper {
  border: 0.2rem solid #000000; 
  border-radius: 1rem; 
  max-width: 24rem; 
  margin: 6rem auto; 
  padding: 1.5rem; 
}

.color-match-boxes-wrapper {
  margin: 2rem 0; 
}

.color-match-box {
  width: 8rem; 
  height: 8rem; 
}

.color-match-button {
  margin: auto 0.5rem;
}
