.color-match-wrapper {
  border: 0.2rem solid #000000; 
  border-radius: 1rem; 
  max-width: 24rem; 
  margin: 6rem auto; 
  padding: 1.5rem; 
}

.color-match-boxes-wrapper {
  margin: 2rem 0; 
}

.color-match-box {
  width: 8rem; 
  height: 8rem; 
}

.color-match-button {
  margin: auto 0.5rem;
  font-size: 1.2rem; 
  width: 6rem; 
  height: 3rem; 
}

.color-match-button.btn-info {
  display: none; 
}

@media (min-width: 576px) {
  .color-match-button {
    width: auto;
    height: auto;
    font-size: 1rem; 
  }

  .color-match-button.btn-info {
    display: inline-block; 
  }
}
