.color-match-wrapper {
  border: 3px solid #000000; 
  border-radius: 16px; 
  max-width: 384px; 
  margin: 96px auto; 
  padding: 24px; 
}

.color-match-boxes-wrapper {
  margin: 32px 0; 
}

.color-match-box {
  width: 128px; 
  height: 128px; 
}

.color-match-button {
  margin: auto 8px;
  font-size: 1.2rem; 
  width: 96px; 
  height: 48px; 
}

.color-match-button.btn-info {
  display: none; 
}

@media (min-width: 576px) {
  .color-match-button {
    width: auto;
    height: auto;
    font-size: 1rem; 
  }

  .color-match-button.btn-info {
    display: inline-block; 
  }
}
