.main-container {
  padding: 0 2rem; 
}

footer {
  background-color: #555555; 
  padding: 2rem 0;
  margin-top: 4rem; 
}

footer span {
  display: inline-block; 
}

footer hr {
  border: 0.1rem solid white; 
  margin: 0 0 2rem; 
}

footer a {
  color: white; 
}

footer a:hover {
  color: white; 
}

footer p {
  margin: 0 1rem 1rem; 
}
